<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">
        
	<bean id="student" class="com.abc.di14.Student" parent="base">
		<property name="name" value="张三"/>
		<property name="age" value="23"/>
	</bean>
	
	<bean id="teacher" class="com.abc.di14.Teacher" parent="base">
		<property name="name" value="郭磊"/>
		<property name="teachAge" value="18"/>
	</bean>
	
	
</beans>













