<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:c="http://www.springframework.org/schema/c"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="mySchool" class="com.abc.di04.School" >
		<property name="sname" value="aynu"/>
	</bean>

	<bean id="student" class="com.abc.di04.Student" 
		  c:name="李四" c:age="24" c:school-ref="mySchool"/>
	
</beans>













