<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 注册目标对象 -->
	<bean id="someService" class="com.abc.aop16.SomeServiceImpl"/>
	
	<!-- 注册切面 -->
	<bean id="myAspect" class="com.abc.aop16.MyAspect"/>
	
	<!-- AOP配置 -->
	<aop:config>
		<!-- 定义切入点 -->
		<aop:pointcut expression="execution(* *..aop16.ISomeService.doFirst(..))" id="doFirstPointcut"/>
		<aop:pointcut expression="execution(* *..aop16.ISomeService.doSecond(..))" id="doSecondPointcut"/>
		<aop:pointcut expression="execution(* *..aop16.ISomeService.doThird(..))" id="doThirdPointcut"/>
		
		<aop:aspect ref="myAspect">
			<!-- 前置通知 -->
			<aop:before method="myBefore" pointcut-ref="doFirstPointcut"/>
			<aop:before method="myBefore(org.aspectj.lang.JoinPoint)" pointcut-ref="doFirstPointcut"/>
			
			<!-- 后置通知 -->
			<aop:after-returning method="myAfterReturning" pointcut-ref="doSecondPointcut"/>
			<aop:after-returning method="myAfterReturning(java.lang.Object)" pointcut-ref="doSecondPointcut" returning="result"/>
			
			<!-- 环绕通知 -->
			<aop:around method="myAround" pointcut-ref="doSecondPointcut"/>
			
			<!-- 异常通知 -->
			<aop:after-throwing method="myAfterThrowing" pointcut-ref="doThirdPointcut"/>
			<aop:after-throwing method="myAfterThrowing(java.lang.Exception)" pointcut-ref="doThirdPointcut" throwing="ex"/>
			
			<!-- 最终通知 -->
			<aop:after method="myAfter" pointcut-ref="doThirdPointcut"/>
		</aop:aspect>
	</aop:config>
</beans>













